.wrapper {
  width: 100%;
  padding: 0 32px;
  margin: 40px 0 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper h3 {
  color: #1C1C1C; 
}

.wrapper form {
  width: 25%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #CDCDCD;
  background-color: #fff;
  padding: 8px 12px;
}

.wrapper form input {
  width: 100%;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  outline: none;
}

.wrapper form .search-icon {
  width: 24px;
  height: 24px;
  color: #7D7D7D;
}