@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.user {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0.6rem 0;
}

.user li {
  width: 20%;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.user li:nth-child(1) {
  width: 10%;
}

.user .user-img img {
  width: 34px;
  height: 33px;
  border-radius: 50%;
}

.user .user-name {
  position: relative;
  left: 50px;
  justify-content: left;
}

@media screen and (max-width: 768px) {
  .user li {
    width: 25%;
    padding-right: 0.3rem;
    font-size: 14px;
  }
}

/* Responsividade */
@media screen and (max-width: 576px) {
  .user li {
    width: 50%;
    padding-right: 0rem;
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .user li {
    width: 20%;
    font-size: 12px;
  }
  .user .user-name {
    left: 20px;
  }
  .user .user-admission{
    position: relative;
    left: -10px;
  }
}
